extends layout

block title
  | Welcome to newborn

//-block links

block app
  .page

    header
      img.logo(src='static/img/sticker-today.png')
      h4 LINE Stickers

    ul#results

    #mask
    #modal
      a#close-modal &times;
      button.pure-button
        span Open in LINE
      .preview

//-block scripts
