extends layout

block title
  | Welcome to newborn

//-block links

block app
  .page

    header
      img.logo(src='static/img/sticker-today.png')
      h4 LINE Stickers

    ul#results

    #mask
    #modal
      button.pure-button#close-modal
      .preview

//-block scripts
