extends layout

block title
  | Welcome to newborn

//-block links

block app
  .page
    .spacer-100
    .container
      h1 Hello Word!
      h3 This is 
        strong 
          a.link(href='https://github.com/emanuelebrivio/newborn') newborn
        | .

//-block scripts
