extends layout

block title
  | Sticker Today - A simple repository of LINE Sticker!

//-block links

block app
  .page

    header
      img.logo(src='static/img/sticker-today.png')
      h4 LINE Stickers

      a(href='line://send/Ciao')

    ul#results

    #mask
    #modal
      .modal-header
        .pure-g
          .pure-u-1-2
            a#close-modal
              img(src='static/img/prev-arrow.png')
          .pure-u-1-2.text-right
            a.pure-button#show-in-line
              span Open in LINE
      .preview

//-block scripts
