doctype html
html
  head
    title
      block title
        | Welcome
    
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.4.2/pure-min.css')
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel='shortcut icon', href='/static/img/favicon.ico')
    block links

  body

    block app

    script(type='text/javascript', src='/static/js/main.js')
    block scripts
